@use 'breakpoint' as *;

// League Spartan font faces
@font-face {
  font-style: normal;
  font-weight: 300;
  src:
    local('League Spartan Light'),
    local('LeagueSpartan-Light'),
    url('/fonts/LeagueSpartan-Light.woff2') format('woff2');
  font-family: 'League Spartan';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    local('League Spartan Regular'),
    local('LeagueSpartan-Regular'),
    url('/fonts/LeagueSpartan-Regular.woff2') format('woff2');
  font-family: 'League Spartan';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src:
    local('League Spartan Medium'),
    local('LeagueSpartan-Medium'),
    url('/fonts/LeagueSpartan-Medium.woff2') format('woff2');
  font-family: 'League Spartan';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src:
    local('League Spartan SemiBold'),
    local('LeagueSpartan-SemiBold'),
    url('/fonts/LeagueSpartan-SemiBold.woff2') format('woff2');
  font-family: 'League Spartan';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    local('League Spartan Bold'),
    local('LeagueSpartan-Bold'),
    url('/fonts/LeagueSpartan-Bold.woff2') format('woff2');
  font-family: 'League Spartan';
  font-display: swap;
}

@layer base {
  p {
    text-wrap: pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    text-wrap: balance;
  }

  h1,
  h2 {
    font-weight: 600;
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  h1 {
    font-size: var(--font-size-6);
    line-height: var(--font-size-7);
  }

  h2 {
    font-size: var(--font-size-5);
    line-height: var(--font-size-6);
  }

  h3 {
    font-size: var(--font-size-4);
    line-height: var(--font-size-5);
  }

  h4 {
    font-size: var(--font-size-3);
    line-height: var(--font-size-4);
  }

  h5 {
    font-size: var(--font-size-2);
    line-height: var(--font-size-3);
  }

  h6 {
    font-size: var(--font-size-1);
    line-height: var(--font-size-2);
  }
}